.task {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid #c7e7fc;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 3fr;

  font-size: 1.2rem;
  text-transform: uppercase;
}

.task :not(div:first-of-type) {
  border-left: 1px solid #c7e7fc;
}

.date,
.sender,
.message,
.projectName {
  height: 100%;
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.message {
  align-self: flex-start !important;
  justify-self: flex-start !important;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 3fr;
}
