.arrows {
  cursor: pointer;
}

.warning {
  border: none !important;
  margin-left: 5px;
}

.arrowRight {
  position: absolute;
  right: -10%;
  top: 50%;
  background-color: #c7e7fc;
  padding: 1rem;
  border-radius: 50%;

  /* transform: translate(-50%, -50%); */
}

.logout {
  position: absolute;
  left: 10%;
  background-color: #c7e7fc;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: all 300ms;
}

.logout:hover {
  background-color: #44b3fd;
}

.logout:active {
  transform: translateY(1px);
  transform: scale(0.9);
}
