.App {
  text-align: center;
}

.App-header {
  /* min-height: 100%; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* font-size: calc(10px + 2vmin);
  color: white; */
}

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #555;
  font-family: "Encode Sans", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  background-color: #e0effd;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* #f8f9fd */
/* #e7eaf4 */
