@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #555;
  font-family: "Encode Sans", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
