.info_materials {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 2fr;
  padding-top: 1rem;
}

.info_materials input {
  height: 100%;
}

input {
  width: 100%;
  border: 2px solid #c7e7fc;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: #0671b8;
}

input:focus {
  border: 2px solid #85caf9;
  box-shadow: none;
}

.form {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  gap: 3rem;
}

.label_row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 2fr;
  font-size: 1rem;
  text-align: left;
  color: #888;
  text-transform: uppercase;
}

/* .header_labels td {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  color: #888;
  border: none;
} */

span {
  display: block;
}

.border_bt {
  border-bottom: 1px solid #888;
}
/* 
.code {
  width: calc(100% / 10);
}
.item {
  width: calc(100% / 10);
}
.date {
  width: min-content;
}
.picture {
  width: calc(100% / 5);
} */
