.info_materials {
  display: flex;
  gap: 2rem;
  align-content: space-between;
  opacity: 1;
  margin-top: 1rem;
  /* padding-top: 1rem;
  transition: all 0.2s; */
}

.info_materials__type {
  opacity: 1;
  margin-top: 1rem;
}

.materialInput_choose__btns {
  display: flex;
  gap: 2rem;
}

.materialInput_choose__btns span {
  padding: 0.5rem;
}

.delete_btn {
  background-color: rgb(255, 62, 62) !important;
}

.info_materials__detail {
  display: grid;
  gap: 2rem;
  align-content: space-between;
  opacity: 1;
  grid-template-columns: 6rem 1fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 1fr;
  transition: all 0.2s;
}

.materialInput_choose,
.materialInput_dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #c7e7fc;
  gap: 4rem;
  color: #389bdd;
  font-size: 1.5rem;
  font-weight: 600;
}

.materialInput_dropdown {
  padding: 1rem 0;
}

.materialInput_dropdown select {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 1rem;
  border-color: #389bdd;
}

.materialInput_dropdown select:focus {
  outline-color: #97d5ff;
}

.checked {
  opacity: 0.5 !important;
}

.materialLabel_container {
  display: flex;
  gap: 2rem;
  align-content: flex-end;
}

.label_row__material {
  display: grid;
  grid-template-columns: 1fr 6rem 1fr 1fr 2fr 2fr 2fr;
  gap: 2rem;
  font-size: 1rem;
  align-content: space-around;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.info_materials input {
  height: 100%;
}

.button {
  padding: 0.5rem !important;
  grid-column: auto !important;
}

input {
  width: 100%;
  border: 2px solid #c7e7fc;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: #0671b8;
}

input:focus {
  border: 2px solid #85caf9;
  box-shadow: none;
}

.empty_input {
  border: 5px solid #ff3131 0.5;
}

.form {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  gap: 3rem;
}

.label_row {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 2fr 2fr 1fr 2fr;
  font-size: 1rem;
  text-align: left;
  color: #888;
  text-transform: uppercase;
}

span {
  display: block;
}

.border_bt {
  border-bottom: 1px solid #888;
}
