.info_materials {
  display: grid;
  gap: 2rem;
  align-content: space-between;
  opacity: 1;
  grid-template-columns: 4rem 1fr 1fr 2fr 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  padding-top: 1rem;
  transition: all 0.2s;
}

.checked {
  opacity: 0.5 !important;
}

.label_row__material {
  display: grid;
  grid-template-columns: 4rem 1fr 1fr 2fr 2fr 1fr 2fr;
  gap: 2rem;
  font-size: 1rem;
  /* align-content: space-between; */
  color: #888;
  text-transform: uppercase;
}

.info_materials input {
  height: 100%;
}

.button {
  padding: 0.5rem !important;
  grid-column: auto !important;
}

input {
  width: 100%;
  border: 2px solid #c7e7fc;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: #0671b8;
}

input:focus {
  border: 2px solid #85caf9;
  box-shadow: none;
}

.form {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  gap: 3rem;
}

.label_row {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 2fr 2fr 1fr 2fr;
  font-size: 1rem;
  text-align: left;
  color: #888;
  text-transform: uppercase;
}

span {
  display: block;
}

.border_bt {
  border-bottom: 1px solid #888;
}
